@model crud.Models.Dokumentacja

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Usunięcie wpisu z dokumentacją
</div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal col-md-12">
        <dt>
            Nazwa dokumentu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwaDokumentu)
        </dd>

        <dt>
            Czy ukończony
        </dt>

        <dd>
            @Html.DisplayFor(model => model.czyUkonczony)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-lg btn-success" /> |
            @Html.ActionLink("Back to List", "Dokumentacja")
        </div>
    }
</div>
