@model crud.Models.Dokumentacja

@{
    <!-- tytul strony -->
    ViewBag.Title = "Usuwanie dokumentacji";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Arima+Madurai&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<div class="naglowekStrony">
    Usunięcie wpisu z dokumentacją
</div>

<div class="form-horizontal">
    <hr />
    <div class="col-lg-6 col-md-8 mx-auto jumbotron">
        <div style="font-family: 'Arima Madurai', sans-serif; font-size:130%; margin-top: 5%;">
            <div class="text-center" style="margin-bottom: 15px;">
                <i class="fas fa-trash-alt fa-7x"></i>
            </div>
            <p class="text-center" style="font-weight: bold;">Jesteś pewien czy chcesz usunąć tę dokumentację?</p>
            <p class="text-justify" style="font-size: 75% !important">
                <i class="fas fa-exclamation-circle"></i> Jeżeli tak, kliknij przycisk "Usuń"
            </p>
            <hr />

            <div>
                <dl class="dl-horizontal col-md-12" style="font-size: 75% !important">
                    <dt style="font-weight: 100;">
                        Nazwa dokumentu
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.nazwaDokumentu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Czy ukończony?
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.czyUkonczony, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        @Html.ActionLink("Wróć", "Dokumentacja", null, null, new { @class = "btn przyciskPowrot" })
                        <input type="submit" value="Usuń" class="btn btn-danger" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>


