@model crud.Models.Personel

@{
    <!-- tytul strony -->
    ViewBag.Title = "Usuwanie personelu";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Usunięcie wpisu o personelu
</div>

<h3>Jesteś pewien czy chcesz usunąć ten personel?</h3>
<div>  
    <hr />
    <dl class="dl-horizontal col-md-12">
        <dt>
            Nazwa personelu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwaPersonelu)
        </dd>

        <dt>
            Czy ustalony?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.czyUstalony)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Wróć", "Personel", null, null, new { @class = "btn btn-primary btn-md przyciskPowrot" })
        <input type="submit" value="Usuń" class="btn btn-danger" />
    </div>
    }
</div>
