@model crud.Models.Dokumentacja

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Usunięcie wpisu z dokumentacją
</div>

<h3>Jesteś pewien czy chcesz usunąć tę dokumentację?</h3>
<div>
    <h4>Dokumentacja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa dokumentu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwaDokumentu)
        </dd>

        <dt>
            Czy ukończony?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.czyUkonczony)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Wróć", "Pracownik", null, null, new { @class = "btn btn-primary btn-md przyciskPowrot" })
        <input type="submit" value="Usuń" class="btn btn-danger" />
    </div>
    }
</div>
