@model crud.Models.Personel

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Usunięcie wpisu o personelu
</div>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal col-md-12">
        <dt>
            Nazwa personelu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwaPersonelu)
        </dd>

        <dt>
            Czy ustalony
        </dt>

        <dd>
            @Html.DisplayFor(model => model.czyUstalony)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success btn-lg" /> |
            @Html.ActionLink("Back to List", "Personel")
        </div>
    }
</div>
