@model crud.Models.Pozwolenie

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Szczegóły wpisu
</div>

<div>
    <h4>Pozwolenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

        <dt>
            Czy zdobyte?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.czyZdobyte)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wróć", "Pracownik", null, null, new { @class = "btn btn-primary btn-md przyciskPowrot" })
    @Html.ActionLink("Edytuj", "Edit", null, new { id = Model.idPozwolenia }, new { @class = "btn btn-success" })
</p>
