@model crud.Models.Dokumentacja

@{
    <!-- tytul strony -->
    ViewBag.Title = "Szczegóły - dokumentacja";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Szczegóły wpisu
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa dokumentu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwaDokumentu)
        </dd>

        <dt>
            Czy ukończony?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.czyUkonczony)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wróć", "Dokumentacja", null, null, new { @class = "btn btn-primary btn-md przyciskPowrot" })
    @Html.ActionLink("Edytuj", "EditDokumentacja", null, new { id = Model.idDokumentu }, new { @class = "btn btn-info" })
</p>
