@model crud.Models.Dokumentacja

@{
    <!-- tytul strony -->
    ViewBag.Title = "Szczegóły - dokumentacja";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Arima+Madurai&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<div class="naglowekStrony">
    Szczegóły wpisu
</div>

<div class="form-horizontal">
    <hr />
    <div class="col-lg-6 col-md-8 mx-auto jumbotron">
        <div style="font-family: 'Arima Madurai', sans-serif; font-size:130%; margin-top: 5%;">
            <div class="text-center" style="margin-bottom: 15px;">
                <i class="fas fa-info-circle fa-7x"></i>
            </div>
            <p class="text-center" style="font-weight: bold;">Szczegóły</p>
            <p class="text-justify" style="font-size: 75% !important">
                <i class="fas fa-exclamation-circle"></i> Szczegóły wpisu, by edytować kliknij przycisk "Edytuj"
            </p>
            <hr />

            <div>
                <dl class="dl-horizontal" style="font-size: 75% !important">
                    <dt style="font-weight: 100;">
                        Nazwa dokumentu
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.nazwaDokumentu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Czy ukończony?
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.czyUkonczony, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Wróć", "Dokumentacja", null, null, new { @class = "btn przyciskPowrot" })
                @Html.ActionLink("Edytuj", "EditDokumentacja", null, new { id = Model.idDokumentu }, new { @class = "btn przyciskSterowania3" })
            </p>

        </div>
    </div>
</div>




