@model crud.Models.Pozwolenie

@{
    <!-- tytul strony -->
    ViewBag.Title = "Szczegóły pozwolenia";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Szczegóły wpisu
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.EditorFor(model => model.nazwa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Czy zdobyte?
        </dt>

        <dd>
            @Html.EditorFor(model => model.czyZdobyte, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wróć", "Pozwolenia", null, null, new { @class = "btn btn-primary btn-md przyciskPowrot" })
    @Html.ActionLink("Edytuj", "EditPozwolenie", null, new { id = Model.idPozwolenia }, new { @class = "btn btn-info" })
</p>
