@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Panel Przełożonego
</div>

<div>
    <input type="button" value="Zgłoszenia" class="btn btn-primary btn-lg" onclick="window.location='@Url.Action("Zgloszenia_Przelozony", "Home")'" />
    <input type="button" value="Imprezy i liczba zapisanych" class="btn btn-primary btn-lg" onclick="window.location='@Url.Action("Przelozony_Listaimprez", "Home")'" />
    <input type="button" value="Wróć do menu" class="btn btn-primary btn-lg" onclick="window.location='@Url.Action("Index", "Home")'" />
</div>
