@{
    <!-- tytul strony -->
    ViewBag.Title = "Wiadomość wysłana!";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    <ol class="breadcrumb tloOkruszka">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
        <li class="breadcrumb-item active">Wiadomość wysłana!</li>
    </ol>
</div>

Wiadomość została wysłana!
