


/* ***************************************************** */
/*                           UWAGA                       */
/* TU ZNAJDUJĄ SIĘ STYLE GLOBALNE (DLA WSZYSTKICH STRON) */
/* ***************************************************** */

/* Pierwszy blok na każdej stronie będący tytułem strony - NIE USUWAC! */
.naglowekStrony {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Comfortaa', sans-serif;
    margin-top: 13px;
    text-align: center;
    text-decoration: wavy;
}

/* klasa dla okruszków */
.tloOkruszka {
    background-color: #C7E3F0;
}

/* Lacza do zarejestruj i zaloguj */
.praweMenu:active {
    color: white;
}

.praweMenu:hover {
    color: #b2b2b2;
}

.praweMenu:visited {
    color: white;
}

.praweMenu:link {
    color: white;
}

body {
    background-color: #e5f2e5;
    color: black;
}

/* ************************************************ */
/* stylowanie przyciskow glownych */
.przyciskNawigacyjny {
    border-radius: 4px;
    /* Kolor przycisku */
    background-color: #007ea8;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px; /* TO DO// zmniejszyć czcionke! */
    padding: 20px;
    width: 436px;
    height: 400px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.przyciskNawigacyjny span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.przyciskNawigacyjny span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.przyciskNawigacyjny:hover span {
  padding-right: 25px;
}

.przyciskNawigacyjny:hover span:after {
  opacity: 1;
  right: 0;
}

/* styl naglowka tabeli */
tr th {
    background-color: #47101b;
    color: white;
    /* czcionka dla naglowka */
    font-family: 'Marmelad', sans-serif;
}

/* ************************************************ */
/* parzyste wiersze tabeli */
.parzysty:nth-child(even) {
    background-color: #996a71;
    color: white;
    /* czcionka dla wierszy */
    font-family: 'Maven Pro', sans-serif;
}

/* nieparzyste wiersze tabeli */
.nieparzysty:nth-child(odd) {
    background-color: #8a5c62;
    color: white;
    /* czcionka dla wierszy */
    font-family: 'Maven Pro', sans-serif;
}


.przyciskWiekszy {
    width: 30%;
}

/* ************************************************ */
/* klasa dla przyciskow w Przelozony_Listaimprez.cshtml */
.przyciskListaimprez {
    width: 25%;
}

.przyciskMniejszy {
    width: 20%;
}

.przyciskKolor {
    background-color: #F1EA7F;
}

/*czcionka w jumbotronie*/
.etykietaJumbo {
    font-family: 'Alegreya Sans', sans-serif;
}


/* ************************************************ */
/* stylowanie przyciskow Utworzenia!  */
.przyciskNawigacyjnyMINI {
    border-radius: 4px;
    /* Kolor przycisku */
    background-color: #571f2a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 220px;
    height: 45px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.przyciskNawigacyjnyMINI span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.przyciskNawigacyjnyMINI span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.przyciskNawigacyjnyMINI:hover span {
    padding-right: 25px;
}

.przyciskNawigacyjnyMINI:hover span:after {
    opacity: 1;
    right: 0;
}

/* ************************************************ */
/* stylowanie przyciskow Personel,Dokumentacja,Pozwolenia!  */
.przyciskSterowania1 {
    border-radius: 4px;
    /* Kolor przycisku */
    background-color: #672E3B;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 120px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

/* ************************************************ */
/* stylowanie przycisku Powrotu!  */
.przyciskPowrot {
    border-radius: 4px;
    /* Kolor przycisku */
    background-color: #5c2d33;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 120px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

/* ************************************************ */
/* stylowanie przyciskow Szczegóły!  */
/* DODAC NIESTANDARDOWA CZCIONKE DO NAGLOWKA i EW DO WIERSZY */
.przyciskSterowania2 {
    border-radius: 4px;
    /* Kolor przycisku */
    background-color: #944743;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 120px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}


/* ************************************************ */
/* PRZYCISK EDYTUJ */
.przyciskSterowania3 {
    border-radius: 4px;
    /* Kolor przycisku */
    background-color: #4d1e23;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 100px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}


/* ************************************************ */
/* PRZYCISK USUŃ */
.przyciskSterowania4 {
    border-radius: 4px;
    /* Kolor przycisku */
    background-color: #DC4C46;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 100px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

/* ************************************************ */
/* STYLOWANIE TABEL */
.table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid #672E3B;
}

.table td {
    border: 1px solid #38010c;
    margin: auto;
}

.table td {
    border: 2px solid #45111b;
    margin: auto;
    vertical-align: middle;
}

.table th {
    vertical-align: middle;
}

.stopkaIkona {
    text-decoration: none;
    color: black;
    opacity: 0.4;
    font-size: 42px;
}

.stopkaIkona:hover {
    opacity: 1;
}

.zapiszMnie {
    border-radius: 4px;
    /* Kolor przycisku */
    background-color: #4d1e23;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 130px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.szczegolyImprezy {
    border-radius: 4px;
    /* Kolor przycisku */
    background-color: #944743;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 170px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}